body {
    background: #fafafa;
}

			*{
			    margin: 0;
			    padding: 0;
			}
			.color-panel{
				background: white;
				display: none;
				top: 0;
			}
			.color-panel ul{display: none;}
            .color-container{
                display: inline-block;
            }
            .color-options{
            	position: relative;
            	width: 150px;
            }
            .color-options:before{
                display: block;
                content: "▴";
                position: absolute;
                top: -13px;
                font-size: 13px;
                color: #C4C4C4;
                left: 50%;
                margin-left: -6px;
            }
            .color-toggle,
            .color-options{
                background-color: #FDFEFC;
                border: 2px solid #C4C4C4;
                border-radius: 4px;
                font-family: helvetica, Arial, sans-serif;
            }
            .color-options ul li{
                display: inline-block;
                vertical-align: top;
                line-height: 1;
                margin: 1px;
            }
            .color-toggle{
				display: inline-block;
				padding: 4px 20px 1px 6px;
				position: relative;
				line-height: 1;
            }
            .color-bubble{
                width: 16px;
                height: 16px;
                border: 1px solid #CCC;
                border-radius: 1000px;
                overflow: hidden;
                display: inline-block;
                cursor: pointer;
            }
            .color-bubble .color-half{
                float: left;
                width: 50%;
                height: 100%;

            }
            .color-arrow{
                background: #616161;
                display: block;
                position: absolute;
                overflow: hidden;
                width: 16px;
                top: -2px;
                bottom: -2px;
                text-align: center;
                right: -2px;
                color: white;
                line-height: 195%;
                border-radius: 0 4px 4px 0;
            }
            .color-arrow:after{
                display: block;
                content: "▾";
                font-size: 14px;
            }
            .color-back{
            	display: none;
            }
            .color-options-upper,
            .color-options-down,
            .color-panel{
                padding: 4px 2px;
            }
            .color-options-down{
                background-color: #f6f6f6;
                overflow: hidden;
                font-size: 12px;
                color: #606060;
            }
            .color-text{
                float: right;
            }
            .cancel-selection{
                background: url(../images/cancel_color_picker.png) no-repeat;
                display: inline-block;
                width: 16px;
                height: 16px;
                text-indent: 100%;
                overflow: hidden;
                border:1px solid transparent;
            }
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}